.main{
    background: #ebd8b7;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding-top: 80px;
    aside{
        background: #9999991f;
        height: 100vh;
        padding:15px;
    }
    .content{
        padding:15px;
    }
}