<section class="main">
    <!--
    <div class='row'>
        <div class="col-3">
            <aside>
                <ul class="list-unstyled">
                    <li> <a> Dash board  </a> </li>
                    <li> <a routerLink='../user/notes'> Notes </a>  </li>
                    <li> <a> Reports  </a> </li>
                </ul>
            </aside>
        </div>
        <div class="col-9">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    -->
  
        <router-outlet></router-outlet>
    
</section>