.head{
    background-color: #bfb5a221;
    padding:15px 45px;
    margin-bottom: 50px;
    h2{
        color:#222;
        font-weight: bold;
    }
}


table{
    width: 100%;
    margin-top: 20px;
    thead,tbody{
        tr{
            td{
                border:1px solid #999;
                padding:5px;
            }
        }
    }
}


.plus{
    width: 50px;
    height: 50px;
    background:#00f;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        cursor: pointer;
        i{
            color:#fff;
        }
    }
}


.input-group{
    .search-hero{
       input{
        width: 285px !important;
        border-bottom-left-radius: none !important;
        border-top-left-radius: none !important;
        outline: none !important;
        @media(max-width:500px){
            width: 255px !important;
        }
       }
    }
}
