
<div class="head">
  <div class="row">
    <div class="col">
      <button  (click)="edit(pop,'')" class="btn btn-primary"> <i class="fas fa-user-plus"></i> اضافة موظف </button>
    </div>
    <div class="col">
      <h2 class='text-right'> اداره الموظفين </h2>
    </div>
  </div>
</div>



<div class="container">
  <div class="input-group mb-3" dir="rtl">
     <div class="search-hero">
        <input style="border-radius: 10px;" class="form-control" type="text" name="search" [(ngModel)]="searchText"  placeholder="بحث الموظفين ">
      </div>
  </div>

  <table dir="rtl" class='text-right'>
    <thead>
        <tr>
            <td> فهرس </td>
            <td> بيانات الموظف  </td>
            <td> اجراءات </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of items | filter:searchText
        | paginate: { id: "empolyees",
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: totalRecords } ; index as i'>
            <td> {{i+1}} </td>
            <td> {{(item.description.length > 50) ? (item.description | slice:0:50)+'...' : item.description }}</td>
            <td>
                <!--
                  <a href="javascript:;" class='btn btn-default text-primary' > <i class='fa fa-eye'></i> </a>
                -->
                <a href="javascript:;" class='btn btn-default text-success' (click)='edit(pop, item._id)'> <i class='fa fa-edit'></i></a>
                <a href="javascript:;" class='btn btn-default text-danger' (click)='delateItem(delate, item._id)' > <i class='fas fa-trash'></i></a>
            </td>
        </tr>
    </tbody>
</table>
  <br>
  <pagination-controls  id="empolyees"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    previousLabel="Previous"
    nextLabel="Next"  
    previousLabel="Previous"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>




<!-- add edit modal -->
<ng-template #pop let-c="close" let-d="dismiss" >
  <div class="modal-header" style="background: #f4f5db;">
    <h4 class="modal-title" id="modal-basic-title">{{ itemId === "" ? 'موظف جديد' : 'تعديل بيانات'}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   
  <app-show-notes [itemId]='itemId' (items)="update($event)"></app-show-notes>
</ng-template>



<!-- delate item -->
<ng-template #delate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Delete Item </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Are You Sure To Delete This Iitem ? </p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="d('Cross click')"> Cancel </button>
    <button  type="button" class="btn btn-danger" (click)="c('Save click')"> Delate </button>
  </div>
</ng-template>





