
    <form [formGroup]="myform"  (submit)='onSubmit(itemId)'>
        <div class="modal-body">
            <div class='form-group'>
                <label for=""> Title </label> &nbsp;
                <input formControlName='title' [ngClass]="{'is-invalid': submited && f.title.errors}" id='postTitle'  class='form-control' placeholder="title">
                <div *ngIf='submited && f.title.errors' class='invalid-feedback'>
                    <div *ngIf="f.title.errors.required"> this field is requerid </div>
                </div>
            </div>

            <div class='form-group'>
                <label for="postDescription"> description </label>
                <textarea formControlName='description' [ngClass]="{'is-invalid': submited && f.description.errors}" id="postDescription"  rows="6" class="form-control" placeholder="Description" ></textarea>
                <div *ngIf='submited && f.description.errors' class='invalid-feedback'>
                    <div *ngIf="f.description.errors.required"> this field is requerid </div>
                </div>
            </div>
        </div>
    
        <div class="modal-footer">
            <button type='submit' class="btn btn-outline-dark"> {{ itemId === "" ? 'Add' : 'Save'}} </button>
        </div>
    </form>
