.main{
    background: #f1f1f1;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    aside{
        background: #9999991f;
        height: 100vh;
        padding:15px;
    }
    .container{
        padding-top: 50px;
    }
}