
    
<div class="row title">
    <div class="col">
        <h2> List of posts </h2>
    </div>
    <div class="col  text-right" >
        <a class='btn btn-primary'  (click)='add(add_edit,"" )'> <i class='fa fa-plus fa-lg'></i> </a>
    </div>
</div>

<table>
    <thead>
        <tr>
            <td> count </td>
            <td> title </td>
            <td> description </td>
            <td> options </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of posts; index as i'>
            <td> {{i+1}} </td>
            <td> {{item.title}} </td>
            <td> {{(item.description.length > 50) ? (item.description | slice:0:50)+'...' : item.description }}</td>
            <td>
                <!--
                  <a href="javascript:;" class='btn btn-default text-primary' > <i class='fa fa-eye'></i> </a>
                -->
                <a href="javascript:;" class='btn btn-default text-success' (click)='add(add_edit, item.id)'> <i class='fa fa-edit'></i></a>
                <a href="javascript:;" class='btn btn-default text-danger' (click)='delate(content, item.id)' > <i class='fas fa-trash'></i></a>
            </td>
        </tr>
    </tbody>
</table>


<!-- add or edit modal -->
<ng-template #add_edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Item details </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-show-posts [itemId]='itemid' (items)='myupdate($event)'></app-show-posts>
</ng-template>





<!-- delate item -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Delete Item </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> Are You Sure To Delete This Iitem !</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="d('Cross click')"> Cancel </button>
      <button type="button" class="btn btn-danger" (click)="c('Save click')"> Delate </button>
    </div>
  </ng-template>
